.slider-item{position:absolute;display:none;text-align:center}
.work--lockup .slider-item a
{
    text-decoration:none;
    color:#858585
}
.work--lockup .slider-item-title{
    margin-top:10px;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
}
.work--lockup .slider-item-description{display:none;max-width:250px;margin:0 auto; }
.work--lockup .slider-item-image{width:140px;height:auto;margin:0 auto;}
.work--lockup .slider-item-image img{width:100%}
.work--lockup .slider-item-left{top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);display:block}
.work--lockup .slider-item-right{top:50%;right:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);display:block}
.work--lockup .slider-item-center{position:relative;top:30px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);display:block}
.work--lockup .slider-item-center a{color:#fff}
.work--lockup .slider-item-center .slider-item-title{font-size:16px ;margin-top: -222px!important;}
.work--lockup .slider-item-center .slider-item-description{display:block}
.work--lockup .slider-item-center .slider-item-image{width:250px;height:350px}
.work--lockup .slider-next,.work--lockup .slider-prev{position:absolute;top:160px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:50px;height:50px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:#282828;border-radius:50%;cursor:pointer}
.work--lockup .slider-next svg,.work--lockup .slider-prev svg{width:20px;fill:#fff}
.work--lockup .slider-next{right:0}.work--lockup .slider-prev{left:0}@media (max-width: 900px)
{
    .work--lockup 
    .slider-item-image{width:120px;height:120px}
    .work--lockup .slider-item-center
     .slider-item-image{width:140px;height:240px}
     .work--lockup .slider-next,.work--lockup
      .slider-prev{top:130px}}@media (max-width: 767px){.work--lockup .slider{width:75%}.work--lockup 
      .slider-item-image{width:70px;height:90px}
.work--lockup .slider-item-center 
.slider-item-image{width:150px;}
.work--lockup .slider-next,.work--lockup 
.slider-prev{top:105px}}@media (max-width: 600px)   
{
.work--lockup .slider{width:auto}
.work--lockup .slider-item-left,.work--lockup 
.slider-item-right{display:none}
}
.header--logo img{
    width: 60px;
}
.device-notification--logo img{
    width: 60px;
}